<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<title>Singer Database</title>
		<meta name="description" content="A sidebar menu as seen on the Google Nexus 7 website" />
		<meta name="keywords" content="google nexus 7 menu, css transitions, sidebar, side menu, slide out menu" />
		<meta name="author" content="Codrops" />
		<link rel="shortcut icon" href="../favicon.ico">
		<link rel="stylesheet" type="text/css" href="/static/css/normalize.css" />
		<link rel="stylesheet" type="text/css" href="/static/css/demo.css" />
		<link rel="stylesheet" type="text/css" href="/static/css/component.css" />
		<script src="/static/js/modernizr.custom.js"></script>
	</head>
	<body>
		<div class="container">
			<ul id="gn-menu" class="gn-menu-main">
				<li class="gn-trigger" style="float: left">
					<a class="gn-icon gn-icon-menu"><span>Menu</span></a>
					<nav class="gn-menu-wrapper">
						<div class="gn-scroller">
							<ul class="gn-menu">
								<li><a href="/song/" class="gn-icon gn-icon-article">Song</a></li>
								<li><a href="/style/" class="gn-icon gn-icon-pictures">Style</a></li>
								<li><a href="/performance/" class="gn-icon gn-icon-videos">Performance</a></li>
								<li><a href="/vocalist/" class="gn-icon gn-icon-archive">Vocalist</a></li>
								<li><a href="/instrumentalist/" class="gn-icon gn-icon-archive">Instrumentalist</a></li>
							</ul>
						</div><!-- /gn-scroller -->
					</nav>
				</li>
				<li><a href="/">Home</a></li>
				<li></li>
			</ul>
			<header>
				<h1>Database for Singers</h1>
				<h3>在一次因緣際會之下，我們跟台澳混血的職業獨立歌手—凱琳當面聊天，無意中得知了她常遇到的一些關於與其他人合作之間的資料庫的問題，我們認為是個滿有趣並且具實用性的挑戰，因此這次選擇這樣的題目並嘗試解決。
由於每次表演都要分別跟不同的歌手、樂手、以及公司合作，加上自己也有器材還有歌單的資料要處理。當以上的資料要互相交叉比對或是搜尋時會產生極大的問題，許多東西都得靠記憶或是沒有效率的文書資料。因此，辦一場演出時就得花非常多的時間手動搜尋，才能決定好歌單以及合作對象。
因此我們便參考了凱琳目前的資料以及運作模式，把一個獨立歌手或樂手與他人合作的歷史資料、用資料庫的形式展現。</h3>
			</header> 
		</div><!-- /container -->
		<script src="/static/js/classie.js"></script>
		<script src="/static/js/gnmenu.js"></script>
		<script>
			new gnMenu( document.getElementById( 'gn-menu' ) );
		</script>
	</body>
</html>