<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Singer Database</title>
		<meta name="description" content="A sidebar menu as seen on the Google Nexus 7 website" />
		<meta name="keywords" content="google nexus 7 menu, css transitions, sidebar, side menu, slide out menu" />
		<meta name="author" content="Codrops" />
		<link rel="shortcut icon" href="../favicon.ico">
		<link rel="stylesheet" type="text/css" href="/static/css/normalize.css" />
		<link rel="stylesheet" type="text/css" href="/static/css/demo.css" />
		<link rel="stylesheet" type="text/css" href="/static/css/component.css" />
		<script src="/static/js/modernizr.custom.js"></script>
	</head>
	<body>
		<div class="container">
			<ul id="gn-menu" class="gn-menu-main">
				<li class="gn-trigger" style="float: left">
					<a class="gn-icon gn-icon-menu"><span>Menu</span></a>
					<nav class="gn-menu-wrapper">
						<div class="gn-scroller">
							<ul class="gn-menu">
								<li><a href="/song/" class="gn-icon gn-icon-article">Song</a></li>
								<li><a href="/style/" class="gn-icon gn-icon-pictures">Style</a></li>
								<li><a href="/performance/" class="gn-icon gn-icon-videos">Performance</a></li>
								<li><a href="/vocalist/" class="gn-icon gn-icon-archive">Vocalist</a></li>
								<li><a href="/instrumentalist/" class="gn-icon gn-icon-archive">Instrumentalist</a></li>
							</ul>
						</div><!-- /gn-scroller -->
					</nav>
				</li>
			</ul>
			<header>
				<h1>Style</h1>
			</header>
		</div><!-- /container -->
		<script src="/static/js/classie.js"></script>
		<script src="/static/js/gnmenu.js"></script>
		<script>
			new gnMenu( document.getElementById( 'gn-menu' ) );
		</script>
		<div>

			<form action="" method="get">
        <table>
            {% for style in Style_list %}
                <tr>
                    <td> <input type="radio" name="id" value="{{style.SID}}"> </td>
                    <td> {{ style.SName }} </td>
                </tr>
            {% endfor %}
        </table>
        <input type="submit" value="送出">
      </form>

			{% for song in Song_list %}
			    <div>
			    {{ song.SName }}

			    </div>
			{% endfor %}


	</div>
	</body>
</html>
